body{
    box-sizing: border-box;
    margin: 0;
}

#title {
    text-align: center;
}

#container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#container > .container-content {
    width: 25em;
    border-radius: 20px;
}

#container > .container-content > a > h2 {
    text-align: center;
    padding: 10px;
    background-color: rgb(255, 213, 213);
}

#container > .container-content > a > img{
    
    width: 100%;
    border-radius: 30px;
}